requests
bs4
PyPDF2
pandas
streamlit
sentence_transformers
spacy
st-annotated-text
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz